*{
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    flex:auto;
}
header{
    text-align: center;
    margin-bottom: 0.5rem;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgb(154, 153, 155);
}

nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    padding: 2px;
    margin: 0.5rem;
    border-radius: 5px;

}
