*{
    margin: 2;
    padding: 0;
    box-sizing: border-box;
    flex:auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header{
    text-align: center;
    margin-bottom: 0.5rem;
}
body{
    background-color: #adb5bd;
}
.link {
    color:rgb(0, 0, 0);
    font-style:italic;
    
}

.link:hover {
    color:rgb(248, 248, 248);
    text-transform: initial;

}

nav{
    background-color: grey;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    text-align: justify;
    padding: 2px;
    margin: 0.5rem;
    border-radius: 5px;
}
table{
    
    width: 70%;
    border:3px solid grey;
    border-radius: 10px;
    margin: -5 auto;
}
td {
    color: antiquewhite;
    background-color:#6c757d;
    padding: 10px;
    border: 3px solid grey;
}

section{
    background-color: darkgray;
    height: 50%;
    width: 50%;
    margin: 15px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 12px;
    box-sizing: border-box;
}
h1{
    background-color: #6c757d;
}
footer{
    text-align: center;
}

